# Deep Dive into operators

1. introduction
2. Arithmatic Operators:
    - Addition
    - Substraction
    - Multiplication
    - Division
    - Floor division
    - Modulus
    - Exponential
3. Comparsion Operators
    - Equal to
    - Not equal to
    - Greater than or equal to
    - less than or equal to
4. Logical Operators
    - AND 
    - OR
    - NOT
5. Practiacal Examples and COmmon errors

In [3]:
# Arithmatic operation 
a = 10 
b = 5 

add_result = a+b
sub_result = a-b
mult_result = a*b
div_result = a/b
floor_div_result = a//b
modulus_result = a%b
expo_result = a**b

print(add_result)
print(sub_result)
print(mult_result)
print(div_result)
print(floor_div_result)
print(modulus_result)
print(expo_result)

15
5
50
2.0
2
0
100000

### Comparsion Operators

In [6]:
# Comparision Operarators

a = 10 
b = 10 

a==b  # equal to operators

True

In [7]:
str1 = "OM"
str2 = "OM"

str1 = str2

In [9]:
### NOt equal to !=
str1 = "OM"
str2 = "Om"
str1 != str2

True

In [10]:
# Greater than >

a = 45
b = 30

a>b

True

In [11]:
# Less than  < 

a<b

False

In [12]:
# Greater than or equal to 

num1 = 45
num2 = 45

num1 >= num2

True

In [13]:
# Lessthan or equal to 
num1 <= num2

True

### Logical Operator

In [14]:
# Logical Operators

In [16]:
## And , NOT, OR

x = True
y = True

res = x and y
print(res)

True

In [18]:
x = False
y = True

res = x and y 
print(res)

False

In [20]:
# OR

x = False
y = False

res = x or y
print(res)

False

In [21]:
x = True
y = False

res = x or y
print(res)

True

In [22]:
# NOT ---> inverse

# reverse of boolean 

x =True
not x

False

### Simple Calculator

In [23]:
num1 = float(input("Enter the number : "))
num2 = float (input("Enter the number : "))

# Performing arthematic operations

addition = num1 + num2
substraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
floor_division = num1 // num2
modulus = num1 % num2
expo = num1 ** num2

# Displaying the result
print('Addition :', addition)
print("substraction : ", substraction)
print("multiplication :", multiplication)
print("Division :", division)
print("Floor_Division", floor_division)
print("modulus :", modulus)
print("expo :", expo)

Addition : 15.0
substraction :  5.0
multiplication : 50.0
Division : 2.0
Floor_Division 2.0
modulus : 0.0
expo : 100000.0