# Loops

1. Introduction 
2. For loop
    - Iterating over a range 
    - Iterating over a string
3. While loop
4. loop control Statements
    - break 
    - continue
    - pass
5. Nested loop 
6. Practical Examples and Common Errors

## for loop

In [2]:
for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [5]:
range(1,10,2)  # step size 2

range(1, 10, 2)

In [6]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [8]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [10]:
str = "Om Wankhede"

for i in str:
    print(i)

O
m

W
a
n
k
h
e
d
e

## while loop

In [13]:
## it continues to execute as long as the condtion is true

count = 0 
while count<5:
    print(count)
    count = count+1
# print(count)

0
1
2
3
4

In [14]:
count = 0 

while count%2 == 0 :           # even number or not
    print(count)
    count = count+1

0

In [15]:
## Loop control statement 

## break

### the break statement exits a loop premateurly



## break statement

for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [16]:
# continue statement

## continue statement skips the current iteration and continues with the next .

for i in range(10):
    if i%2 == 0:   ## odd number
        continue
    print(i)

1
3
5
7
9

In [18]:
# pass ---> null operation does nothing 

for i in range (5):
    if i ==3:
        print("number is : ",i)
        pass
    print(i)

0
1
2
number is :  3
3
4

In [21]:
## Nested loops   -----> loop inside a loop

for i in range (3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [23]:
## calculate the sum of first N Natural numbers using a while loop

## while loop 

n = 10 
sum = 0
count = 1

while count <= n:
    sum = sum + count
    count = count + 1

print(" sum of first 10 natural numbers is : ", sum)

 sum of first 10 natural numbers is :  55

In [25]:
n = 10 
sum = 0
count = 1

for i in range(11):
    sum += i
print(sum)

55

In [26]:
## ExAMPLE- Prime number between 1 and 100 

for num in range (1,101):
    if num > 1 :
        for i in range(2,num):
            if num%i == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97